html, body {
    max-width: 1200px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.family-photo {
    margin-top: 50px;

}
.title {
    margin-top: 10px;
    margin-left: 80px;
    
    font-family: 'Bebas Neue', cursive;
    font-size: 1.85rem;
    letter-spacing: .75rem;
    word-spacing: .25rem;
    
}